<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <!-- naya wala -->

        <h1 class="center-align cyan-text text-darken-1">CREATE COURSE FORM</h1><br>
        <div class="container center-align" style="border: 1px solid rgb(184, 180, 180); padding: 3%;">
            <form runat="server" action="/createcourse" method="POST" enctype="multipart/form-data">

                <img id="blah" width="50%" />

                <div class="input-field col s6">
                    <label for="textInputtext1">Course Name</label>
                    <input type="text" class="form-control" id="textInputtext1" aria-describedby="emailHelp" name="coursename">
                </div>

                <div class="input-field">
                    <label for="desc1">Course Description</label>
                    <textarea type="text" class="form-control" id="desc1" aria-describedby="emailHelp" name="description"></textarea>
                </div>
                <div class="input-field">
                    <label for="prereq1">Course Prerequisites</label>
                    <textarea type="text" class="form-control" id="prereq1" aria-describedby="emailHelp" name="prerequisites"></textarea>
                </div>
                <div class="input-field">
                    <label for="hours1">Completion Hours</label>
                    <input type="text" class="form-control" id="hours1" aria-describedby="emailHelp" name="hours">
                </div>
                <div class="file-field btn">Add Video
                    <input type='file' name="video" id="imgInp" accept="video/*" class="btn" />
                </div>
                <br>
                <h5 class="grey-text text-darken-1 note">Note: This post is can be viewed by everyone! :)</h5>
                <div align="center">
                    <button type="submit" class="waves-effect waves-light btn btn-info blue darken-2">Upload</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>