<form action="/login" method="POST">
    <div>
        <input class="input" type="email" placeholder="Email" id="email" name="email" required></input>
        <!--<label>Email</label>-->
    </div>
    <div>
        <input class="input" type="password" placeholder="Password" id="password" name="password" required></input>
        <!--<label>Password</label>-->
    </div>

    <div><button type="submit" class="btn btn-primary">LOG IN</button></div>
</form>