form( action="/login" method="POST")
    div
        input(type="email" placeholder="Email" id="email" name="email" required).input

    div
        input(type="password" placeholder="Password" id="password" name="password" required).input

    div
        button(type="submit").btn.btn-primary LOG IN