form(action="/signup" method="POST")
    div
        input(type="text" placeholder="Full Name" id="name" name="name" required).input

    div
        input( type="email" placeholder="Email" id="email" name="email" required).input

    div
        input( type="number" placeholder="Contact" id="contact" name="contact" required).input

    div
        input( type="text" placeholder="branch" id="branch" name="branch" required).input

    div
        input( type="text" placeholder="year" id="year" name="year" required).input

    div
        input( type="text" placeholder="Role = student/professor" id="role" name="role" required).input
    div
        input( type="password" placeholder="Password" id="password" name="password" required)

    div
        button(type="submit" class="button") SIGN UP
