doctype html
html(lang="en")
  head
    title Login Form In Pug
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
style

body {
  background-image: url('https://w3hubs.com/Login-Form-In-Pug/bg.jpg');
  padding: 0;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: rgba(60, 89, 107, 0.63);
  width: 40%;
  padding: 30px;
}

.username input,
.password input {
  width: 100%;
  height: 40px;
  border: 0px;
  margin: 5px 5px 15px;
  box-sizing: border-box;
  padding: 15px 15px;
}

input:focus,
button:focus {
  outline: none;
}

button {
  background: #63cdda;
  color: #fff;
  border: 0px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  cursor: pointer;
}

.checkbox {
  color: #fff;
  padding-bottom: 10px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px;
}

p {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
}

.social {
  display: flex;
  justify-content: center;
}

.social button {
  display: flex;
  width: 30px;
  padding: 5px;
  background-color: transparent;
  justify-content: center;
  text-transform: capitalize;
}

.social button:nth-child(1) {
  background-color: #3498db;
}

.social button:nth-child(2) {
  background-color: #e74c3c;
}

.fa {
  float: left;
  font-size: 18px;
}

a {
  padding-left: 5px;
  text-decoration: none;
  color: #63cdda;
  text-transform: capitalize;
}

a:hover {
  text-decoration: underline;
}

.label {
  font-size: 40px;
  text-align: center;
  color: #fff;
  padding-bottom: 15px;
  text-transform: capitalize;
}

@media(max-width:610px) {
  form {
    width: 60%;
  }

  button {
    padding: 5px;
  }
}

@media(max-width:420px) {
  form {
    width: 70%;
  }

  h3 {
    margin: 10px;
  }
}

  body
    #main
     form(action="/signup" method="POST")
       div.label login form
       div.name
        input(class="input" type="text" placeholder="Full Name" id="name" name="name" required)
               div.email
        input(class="input" type="email" placeholder="Email" id="email" name="email" required)
               div.contatc
        input(input class="input" type="number" placeholder="Contact" id="contact" name="contact" required)
               div.branch
        input(class="input" type="text" placeholder="branch" id="branch" name="branch" required)
               div.year
        input(class="input" type="text" placeholder="year" id="year" name="year" required)
                       div.role
        input(class="input" type="text" placeholder="Role = student/professor" id="role" name="role" required)
       div.password
        input(class="input" type="password" placeholder="Password" id="password" name="password" required)
       div.checkbox
        input(type='checkbox' name='agreement' checked)
        |Remember me
       button(type="submit") login
       h3 or login with
       div.social
        button(type="button") <i class="fa fa-facebook"></i>
        button(type="button") <i class="fa fa-google-plus"></i>







